<%
    ginecologia = prioridades.empty? || prioridades[:ginecologia]
    pediatria = prioridades.empty? || prioridades[:pediatria]
    fonasa = prioridades.empty? || prioridades[:fonasa]
    prioridad = prioridades[:prioridad]
    departamentos = {"artigas"=>"Artigas", "canelones"=>"Canelones", "cerro_largo"=>"Cerro Largo", "colonia"=>"Colonia", "durazno"=>"Durazno", "flores"=>"Flores", "florida"=>"Florida", "lavalleja"=>"Lavalleja", "maldonado"=>"Maldonado", "montevideo"=>"Montevideo", "paysandu"=>"Paysandu", "rio_negro"=>"Rio Negro", "rivera"=>"Rivera", "rocha"=>"Rocha", "salto"=>"Salto", "san_jose"=>"San José", "soriano"=>"Soriano", "tacuarembo"=>"Tacuarembo", "treinta_y_tres" => "Treinta y Tres"}
%>
<div class="alternate-body">
  <div class="container formulario">
    <h3 class="Mt-0 highlight text-center">Contestá estas preguntas y elegí una prioridad:</h3>
    <form id="preguntas-form" action="/departamento" method="POST" autocomplete="off" class="form-horizontal">
      <div class="row divided Aligner">
        <div class="col-xs-6 text-right"> <!-- primera columna -->
          <div class="form-control">
            Consultas de Ginecologia:
            <label class="Fw-n Ml-10">
              Si <input type="radio" name="opcionGinecologia" id="ginecologiaRadioSi" value="true" <% if ginecologia %>checked<% end %>>
            </label>
            <label class="Fw-n Ml-10">
              No <input type="radio" name="opcionGinecologia" id="ginecologiaRadioNo" value="false" <% if !ginecologia %>checked<% end %>>
            </label>
          </div>
          <div class="form-control">
            Consultas de Pediatría:
            <label class="Fw-n Ml-10">
              Si <input type="radio" name="opcionPediatria" id="pediatriaRadioSi" value="true" <% if pediatria %>checked<% end %>>
            </label>
            <label class="Fw-n Ml-10">
              No <input type="radio" name="opcionPediatria" id="pediatriaRadioNo" value="false" <% if !pediatria %>checked<% end %>>
            </label>
            <!--<span class="help-tooltip help-icon" title="Vas a tener a niños afiliados a la mutualista?"></span>-->
          </div>
          <div class="form-control">
            Afiliado de FONASA:
            <label class="Fw-n Ml-10">
              Si <input type="radio" name="opcionFonasa" id="fonasaRadioSi" value="true" <% if fonasa %>checked<% end %>>
            </label>
            <label class="Fw-n Ml-10">
              No <input type="radio" name="opcionFonasa" id="fonasaRadioNo" value="false" <% if !fonasa %>checked<% end %>>
            </label>
          </div>
          <div class="form-control">
            <label class="Fw-n" for="departamento">
                Departamento:
                <select id="departamento" name="departamento" placeholder=".col-xs-4">
                  <% departamentos.keys.each do |sel_departamento| %>
                    <option value="<%= sel_departamento %>" <% if departamento == sel_departamento %>selected="selected"<% end %>>
                      <%= departamentos[sel_departamento] %>
                    </option>
                  <% end %>
                </select>
            </label>
          </div>
        </div> <!-- primera columna -->
        <div class="col-xs-6 text-left">
          <div class="form-control">
            <label class="Fw-n">
              <input type="radio" id="radioPrioridadC" class="" name="radioPrioridad" value="costo" <% if !prioridad || prioridad == 'costo' %>checked<% end %>> Precio de los tickets
            </label>
          </div>
          <div class="form-control">
            <label class="Fw-n">
              <input type="radio" id="radioPrioridadT" class="" name="radioPrioridad" value="tiempo" <% if prioridad == 'tiempo' %>checked<% end %>> Tiempos de espera para consulta
            </label>
          </div>
          <div class="form-control">
           <label class="Fw-n">
              <input type="radio" id="radioPrioridadD" class="" name="radioPrioridad" value="derechos" <% if prioridad == 'derechos' %>checked<% end %>> Derechos de los usuarios
            </label>
          </div>
          <div class="form-control">
            <label class="Fw-n">
              <input type="radio" id="radioPrioridadC" class="" name="radioPrioridad" value="personal" <% if prioridad == 'personal' %>checked<% end %>> Cantidad de personal disponible
            </label>
          </div>
        </div> <!-- tercera columna -->
      </div> <!-- row -->
      <button type="submit" class="btn btn-lg btn-danger center-block" style="padding: 10px 75px;">¡Buscar!</button>
    </form>
  </div>
</div> <!-- formulario -->

<section id="js-ajax-resultados" class="resultados">
<% if !prioridades.empty? %>
    <% if (prioridades.length > 1) %>
      <p class="h3 text-center jumbotron jumbotron-inverse Mb-0">Ranking de prestadores de salud de <span class="highlight"><%= departamentos[departamento] %></span>, considerando <span class="highlight">consultas<% if ginecologia %> ginecologicas<% end %></span><% if pediatria %> y <span class="highlight">pediatría</span><% end %><% if fonasa %> para <span class="highlight">afiliados por FONASA</span><% end %>, priorizando <span class="highlight"><%= {'costo' => 'precio de los tickets', 'tiempo' => 'tiempo de espera', 'derechos' => 'derechos de los usuarios', 'personal' => 'cantidad de personal disponbile'}[prioridad] %></span>:</p>
    <% end %>

    <div id="carousel-resultados" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
      <!-- <ol class="carousel-indicators"><% for i in 0..(mutualistas.length-1) do %><li data-target="#carousel-resultados" data-slide-to="<%= i %>" <% if i == 1 %>class="active"<% end %>></li><% end %></ol> -->
      <div class="carousel-inner">
        <% for mutualista in mutualistas do %>
          <div class="item<% if mutualista == mutualistas.first %> active<% end %>">
            <%= partial :resultado, locals: { mutualista: mutualista, :posicion => mutualistas.index(mutualista)+1 } %>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#carousel-resultados" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-resultados" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </section>

  <div class="container">
    <p class="Mb-0" style="padding: 25px 0;">Datos extraídos de la planilla de indicadores publicada por el <a href="http://msp.gub.uy">Ministerio de Salud Pública.</a>, disponible para <a href="http://www.msp.gub.uy/sites/default/files/archivos_adjuntos/Movilidad%20Regulada_0.xls">descarga</a> con mayor nivel de detalle e indicadores que los aqui publicados. <br> <a title="Para cada indicador tomamos sus valores y establecimos un promedio. Por ejemplo, “estudios y laboratorio” es un promedio de todos los posibles estudios y análisis que se pueden realizar en un prestador de servicio. Si para el usuario la prioridad es pagar menos costo en medicamentos, el prestador que en promedio cobre menos será la primera opción que visualice. En el caso de los prestadores de servicio que no brindaron datos al MSP o brindaron datos de forma parcial hemos decidido indicar que no no han provisto datos con un s/d y quedan excluídos del cálculo. Son mostrados al final de cada opción con la información relevante. Algunos indicadores proporcionados por el MSP no han sido incluidos por no considerarlos relevantes o no contener toda la información requerida.">¿Cómo construimos estos números?</a></p>
  </div>

  <div id="mequierocambiar" class="alternate-body">
    <div class="container">
      <div class="row Aligner">
        <div class="col-sm-5">
          <h2 class="h1 highlight Mt-0">¡Me quiero cambiar!</h2>
          <p class="lead Mb-0">Para ésto es necesario presentarse en el prestador de salud elegido, personalmente.</p>
        </div>
        <div class="col-sm-7">
          <p>Recordá que sólo pueden cambiarse quienes tengan un <b>mínimo de tres años en su prestador de salud actual</b> y que <b>sólo pueden hacerlo hasta el 28 de febrero.</b>
          </p>
          <hr class="small">
          <p class="Mb-0"><b>¿Más dudas?</b> Consultá en el sitio: <a href="http://www.msp.gub.uy">www.msp.gub.uy</a>
          </p>
        </div>
      </div>
    </div>
<% end %>
</div>
