<%
    ginecologia = prioridades.length == 0 || prioridades[:ginecologia]
    pediatria = prioridades.length == 0 || prioridades[:pediatria]
    fonasa = prioridades.length == 0 || prioridades[:fonasa]
    prioridad = prioridades[:prioridad]
%>

<div class="alternate-body">
  <div class="container formulario">
    <h3 class="Mt-0 highlight text-center">Contestá estas preguntas y elegí una prioridad:</h3>
    <hr class="invisible">
    <form id="preguntas-form" action="/departamento" method="POST" autocomplete="off" class="form-horizontal">
      <div class="row">
        <div class="col-md-6 text-right"> <!-- primera columna -->
          <div class="">
            Consultas de Ginecologia:
            <label>
              Si <input type="radio" name="opcionGinecologia" id="ginecologiaRadioSi" value="true" <% if ginecologia %>checked<% end %>>
            </label>
            <label>
              No <input type="radio" name="opcionGinecologia" id="ginecologiaRadioNo" value="false" <% if !ginecologia %>checked<% end %>>
            </label>
          </div>
          <div class="">
            Consultas de Pediatría:
            <label>
              Si <input type="radio" name="opcionPediatria" id="pediatriaRadioSi" value="true" <% if pediatria %>checked<% end %>>
            </label>
            <label>
              No <input type="radio" name="opcionPediatria" id="pediatriaRadioNo" value="false" <% if !pediatria %>checked<% end %>>
            </label>
            <!--<span class="help-tooltip help-icon" title="Vas a tener a niños afiliados a la mutualista?"></span>-->
          </div>
          <div class="">
            Afiliado de FONASA:
            <label>
              Si <input type="radio" name="opcionFonasa" id="fonasaRadioSi" value="true" <% if fonasa %>checked<% end %>>
            </label>
            <label>
              No <input type="radio" name="opcionFonasa" id="fonasaRadioNo" value="false" <% if !fonasa %>checked<% end %>>
            </label>
          </div>
          <div class="">
            Departamento:
            <select id="departamento" name="departamento" placeholder=".col-xs-4">
              <% ["artigas", "canelones", "cerro_largo", "colonia", "durazno", "flores", "florida", "lavalleja", "maldonado", "montevideo", "paysandu", "rio_negro", "rivera", "rocha", "salto", "san_jose", "soriano", "tacuarembo", "treinta_y_tres"].sort.each do |sel_departamento| %>
                <option value="<%= sel_departamento %>" <% if departamento == sel_departamento %>selected="selected"<% end %>>
                  <%= sel_departamento.capitalize! %>
                </option>
              <% end %>
            </select>
          </div>
        </div> <!-- primera columna -->
        <div class="col-md-6 text-left" style="border-left: 1px solid #d63d34;"> <!-- tercera columna -->
          <div class="">
            <label>
              <input type="radio" id="radioPrioridadC" name="radioPrioridad" value="costo" <% if prioridad == 'costo' %>checked<% end %>> Precio de los tickets
            </label>
          </div>
          <div class="">
            <label>
              <input type="radio" id="radioPrioridadT" name="radioPrioridad" value="tiempo" <% if prioridad == 'tiempo' %>checked<% end %>> Tiempos de espera para consulta
            </label>
          </div>
          <div class="">
           <label>
              <input type="radio" id="radioPrioridadD" name="radioPrioridad" value="derechos" <% if prioridad == 'derechos' %>checked<% end %>> Derechos de los usuarios
            </label>
          </div>
          <div class="">
            <label>
              <input type="radio" id="radioPrioridadC" name="radioPrioridad" value="personal" <% if prioridad == 'personal' %>checked<% end %>> Cantidad de personal disponible
            </label>
          </div>
        </div> <!-- tercera columna -->
      </div> <!-- row -->
      <hr class="invisible">
      <button type="submit" class="btn btn-lg btn-danger center-block" style="padding: 10px 75px;">¡Buscar!</button>
    </form>
  </div>
</div> <!-- formulario -->

<section class="resultados" <% if prioridades.empty? %>style="display: none;" <% end %>>
  <h3>
    <% if (prioridades.length > 1) %> 
    Ranking de prestadores de salud de <span class="highlight"><%= departamento %></span>, considerando <span class="highlight">consultas<% if ginecologia %> ginecologicas<% end %></span><% if pediatria %> y <span class="highlight">pediatría</span><% end %><% if fonasa %> para <span class="highlight">afiliados por FONASA</span><% end %>, priorizando <%= {'costo' => 'precio de los tickets', 'tiempo' => 'tiempo de espera', 'derechos' => 'derechos de los usuarios', 'personal' => 'cantidad de personal disponbile'}[prioridad] %>: 
    <% end %>
  </h3>

  <div id="carousel-resultados" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% for i in 0..(mutualistas.length-1) do %>
      <li data-target="#carousel-resultados" data-slide-to="<%= i %>" <% if i == 1 %>class="active"<% end %>></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <% for mutualista in mutualistas do %>
      <div class="item<% if mutualista == mutualistas.first %> active<% end %>">
        <%= partial :resultado, locals: { mutualista: mutualista, :posicion => mutualistas.index(mutualista)+1 } %>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-resultados" data-slide="prev">
    <img src="<%= asset_path('images/izquierda.png') %>">
  </a>
  <a class="right carousel-control" href="#carousel-resultados" data-slide="next">
    <img src="<%= asset_path('images/derecha.png') %>">
  </a>
</div>

  <section id="aclaraciones">
  <p>Datos extraidos de la planilla de indicadores publicada por el <a href="http://msp.gub.uy">Ministerio de Salud Pública</a></p>
    <p>Disponible para descarga, con mayor nivel de detalle e indicadores que los aqui publicados.</p>
  </section>
</section>

<% if !prioridades.empty? %>
  <section id="mequierocambiar">
    <section class="col-md-6">
      <h1>¡Me quiero cambiar!</h1>
      <p>Para ésto es necesario presentarse en el prestador de salud elegido, personalmente.</p>
    </section>
    <section class="col-md-6 right">
      <p>Recordá que sólo pueden cambiarse quienes tengan un <strong>mínimo de tres años en su prestador de salud actual</strong> y que <strong>sólo pueden hacerlos hasta el 28 de febrero.</strong>
      </p>
      <p><strong>¿Más dudas?</strong> Consultá en el sitio: <a class="button" href="http://www.msp.gub.uy">www.msp.gub.uy</a>
      </p>
    </section>
  </section>
<% end %>
