<table class="table">
        <tr class="table-headers">
          <td class="table-mutualista"><%= ranking[:rango] %> - <%= ranking[:nombre] %></td>
          <td></td>
          <td class="table-ranking-header">Ranking</td>
        </tr>
        <tr>
          <td class="table-prioridad">Costo:</td>
          <td>dibujito</td>
          <td class="table-ranking-line"><%= ranking[:costo][:ranking] %></td>
        </tr>
        <tr>
          <td class="table-prioridad">Metas asistenciales:</td>
          <td>dibujito</td>
          <td class="table-ranking-line"><%= ranking[:metas][:ranking] %></td>
        </tr>
        <tr>
          <td class="table-prioridad">Tiempos de espera:</td>
          <td>dibujito</td>
          <td class="table-ranking-line"><%= ranking[:tiempos_espera][:ranking] %></td>
        </tr> 
        <tr>
          <td class="table-prioridad">Satisfacción de usuarios:</td>
          <td>dibujito</td>
          <td class="table-ranking-line"><%= ranking[:satisfaccion][:ranking] %></td>
        </tr> 
        <tr>
          <td class="table-prioridad">Personal disponible:</td>
          <td>dibujito</td>
          <td class="table-ranking-line"><%= ranking[:personal][:ranking] %></td>
        </tr> 
        <tr>
          <td class="table-prioridad">Asignación de citas:</td>
          <td>dibujito</td>
          <td class="table-ranking-line"></td>
        </tr> 
        <tr>
          <td class="table-prioridad">Recordatorio de consultas:</td>
          <td>dibujito</td>
          <td class="table-ranking-line"></td>
        </tr>                
      </table>