<table class="table tableStyle">
        <tr class="table-headers">
          <td class="table-mutualista header-left"><%= posicion %> - <%= mutualista["NOMBRE"] %></td>
          <td class="header-right"></td>
        </tr>
        <tr>
          <td class="table-prioridad table-results-left"><label class="table-result-label">Costo:</label></td>
          <td>

            <div class="barra">
              <% placements = ['left', 'top', 'bottom', 'right'] %>
              <% mutualista["COSTO"].keys().each do |key| %>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="<%= placements.shift %>" title="<%= key %>"><%= mutualista["COSTO"][key] %></button>
              <% end %>
            </div>

          </td>
        </tr>
        <tr>
          <td class="table-prioridad table-results-left"><label class="table-result-label">Metas asistenciales:</label></td>
          <td>
            <% placements = ['left', 'top', 'bottom', 'right'] %>
            <div class="barra">
              <% mutualista["METAS"].keys().each do |key| %>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="<%= placements.shift %>" title="<%= key %>"><%= mutualista["METAS"][key] %></button>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td class="table-prioridad table-results-left"><label class="table-result-label">Tiempos de espera:</label></td>
          <td>
            <% placements = ['left', 'top', 'bottom', 'right'] %>
            <div class="barra">
              <% mutualista["TIEMPOS_ESPERA"].keys().each do |key| %>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="<%= placements.shift %>" title="<%= key %>"><%= mutualista["TIEMPOS_ESPERA"][key] %></button>
              <% end %>
            </div>
          </td>
        </tr> 
        <tr>
          <td class="table-prioridad table-results-left"><label class="table-result-label">Satisfacción de usuarios:</label></td>
          <td>
            <% placements = ['left', 'top', 'bottom', 'right'] %>
            <div class="barra">
              <% mutualista["SATISFACCION"].keys().each do |key| %>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="<%= placements.shift %>" title="<%= key %>"><%= mutualista["SATISFACCION"][key] %></button>
              <% end %>
            </div>
          </td>
        </tr> 
        <tr>
          <td class="table-prioridad  table-results-left"><label class="table-result-label"> Personal disponible:</label></td>
          <td>
            <% placements = ['left', 'top', 'bottom', 'right'] %>
            <div class="barra">
              <% mutualista["PERSONAL"].keys().each do |key| %>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="<%= placements.shift %>" title="<%= key %>"><%= mutualista["PERSONAL"][key] %></button>
              <% end %>
            </div>
          </td>
        </tr> 
        <tr>
          <td class="table-prioridad table-results-left"><label class="table-result-label"> Asignación de citas:</label></td>
          <td>
            <% if mutualista["CITAS_PERSONAL"] %><img src="<%= asset_path('images/personalmente.png') %>"><% end %>
            <% if mutualista["CITAS_TELEFONICA"] %><img src="<%= asset_path('images/telefono.png') %>"><% end %>
            <% if mutualista["CITAS_WEB"] %><img src="<%= asset_path('images/web.png') %>"><% end %>
         </td>
        </tr> 
        <tr>
          <td class="table-prioridad table-results-left"><label class="table-result-label"> Recordatorio de consultas:</label></td>
          <td>
            <% if mutualista["RECORDATORIO_TELEFONO"] %><img src="<%= asset_path('images/telefono.png') %>"><% end %>
            <% if mutualista["RECORDATORIO_SMS"] %><img src="<%= asset_path('images/sms.png') %>"><% end %>
            <% if mutualista["RECORDATORIO_CORREO"] %><img src="<%= asset_path('images/correo.png') %>"><% end %>
            <% if !(mutualista["RECORDATORIO_TELEFONO"] || mutualista["RECORDATORIO_SMS"] || mutualista["RECORDATORIO_CORREO"]) %><img src="<%= asset_path('images/ninguno.png') %>"><% end %>
        </tr>                
      </table>
