<table class="table">
        <tr class="table-headers">
          <td class="table-mutualista"><%= posicion %> - <%= mutualista["NOMBRE"] %></td>
          <td></td>
        </tr>
        <tr>
          <td class="table-prioridad">Costo:</td>
          <td>
            <table class="table">
            <tr>
              <% mutualista["COSTO"].values().each do |valor| %>
                <td><%= valor %></td>
              <% end %>
              <td></td>
            </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="table-prioridad">Metas asistenciales:</td>
          <td>
            <table class="table">
            <tr>
              <% mutualista["METAS"].values().each do |valor| %>
                <td><%= valor %></td>
              <% end %>
              <td></td>
            </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="table-prioridad">Tiempos de espera:</td>
          <td>
            <table class="table">
            <tr>
              <% mutualista["TIEMPOS_ESPERA"].values().each do |valor| %>
                <td><%= valor %></td>
              <% end %>
              <td></td>
            </tr>
            </table>
          </td>
        </tr> 
        <tr>
          <td class="table-prioridad">Satisfacción de usuarios:</td>
          <td>
            <table class="table">
            <tr>
              <% mutualista["SATISFACCION"].values().each do |valor| %>
                <td><%= valor %></td>
              <% end %>
              <td></td>
            </tr>
            </table>
          </td>
        </tr> 
        <tr>
          <td class="table-prioridad">Personal disponible:</td>
          <td>
            <table class="table">
            <tr>
              <% mutualista["PERSONAL"].values().each do |valor| %>
                <td><%= valor %></td>
              <% end %>
              <td></td>
            </tr>
            </table>
          </td>
        </tr> 
        <tr>
          <td class="table-prioridad">Asignación de citas:</td>
          <td>
            <% if mutualista["CITAS_PERSONAL"] %><img src="<%= asset_path('images/personalmente.png') %>"><% end %>
            <% if mutualista["CITAS_TELEFONICA"] %><img src="<%= asset_path('images/telefono.png') %>"><% end %>
            <% if mutualista["CITAS_WEB"] %><img src="<%= asset_path('images/web.png') %>"><% end %>
         </td>
        </tr> 
        <tr>
          <td class="table-prioridad">Recordatorio de consultas:</td>
          <td>
            <% if mutualista["RECORDATORIO_TELEFONO"] %><img src="<%= asset_path('images/telefono.png') %>"><% end %>
            <% if mutualista["RECORDATORIO_SMS"] %><img src="<%= asset_path('images/telefono.png') %>"><% end %>
            <% if mutualista["RECORDATORIO_CORREO"] %><img src="<%= asset_path('images/correo.png') %>"><% end %>
        </tr>                
      </table>