<table class="table">
        <tr class="table-headers">
          <td class="table-mutualista"><%= posicion %> - <%= mutualista["NOMBRE"] %></td>
          <td></td>
        </tr>
        <tr>
          <td class="table-prioridad">Costo:</td>
          <td><%= mutualista["COSTO"].values().join(',') %></td>
        </tr>
        <tr>
          <td class="table-prioridad">Metas asistenciales:</td>
          <td><%= mutualista["METAS"].values().join(',') %></td>
        </tr>
        <tr>
          <td class="table-prioridad">Tiempos de espera:</td>
          <td><%= mutualista["TIEMPOS_ESPERA"].values().join(',') %></td>
        </tr> 
        <tr>
          <td class="table-prioridad">Satisfacción de usuarios:</td>
          <td><%= mutualista["SATISFACCION"].values().join(',') %></td>
        </tr> 
        <tr>
          <td class="table-prioridad">Personal disponible:</td>
          <td><%= mutualista["PERSONAL"].values().join(',') %></td>
        </tr> 
        <tr>
          <td class="table-prioridad">Asignación de citas:</td>
          <td><%= [mutualista["CITAS_PERSONAL"], mutualista["CITAS_TELEFONICA"], mutualista["CITAS_WEB"]].join(',') %></td>
        </tr> 
        <tr>
          <td class="table-prioridad">Recordatorio de consultas:</td>
          <td><%= [mutualista["RECORDATORIO_TELEFONO"], mutualista["RECORDATORIO_SMS"], mutualista["RECORDATORIO_CORREO"]].join(',') %></td>
        </tr>                
      </table>